html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: "proxima-nova", sans-serif;

    #page-contents-wrapper {

        // min-height: 100%;
        height: 100vh;
        margin: 0 auto -70px;

        @media (max-width: 768px) {
            padding-top: 20px;
        }

        @media (max-width: 1200px) {
            padding-top: 30px;
        }

        @media (min-width: 1201px) {
            padding-top: 40px;
        }
    }
}

.footer {

    z-index: 1030;
    margin: 0px 10px;
    clear: both;
    position: relative;
    bottom: 0px;
    left: 0px;
    text-align: center;
    border-top: 1px solid #E5E5E5;
    max-height: 50px;
    background: white;

    a {
    	color: $brand-accent;
    }

    p {
        line-height: 50px;
    }
}