<div ng-include="'components/navbar/navbar.html'"></div>

<div id="page-contents-wrapper">
  <div class="container">
    <div class="row">
      <div ng-include="'components/dailies/dailies.html'"></div>
      <div ng-include="'components/to-do/to-do.html'"></div>
    </div>

    <!--
    <form class="thing-form">
      <label>Syncs in realtime across clients</label>
      <p class="input-group">
        <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
        </span>
      </p>
    </form>
  </div>
  -->

  <footer class="footer">
    <div class="container">
        <p>Chkr v0.1 | <a href="http://www.smcgrath.me">Sean McGrath</a> </p>
    </div>
  </footer>
</div>
