<div id="top-navbar-wrapper" ng-controller="NavbarCtrl">
	<ul class='top-nav'>
		<li class='top-nav-brand'><a href='/'>CHKR</a></li>
	</ul>
	<ul class='top-nav pull-right'  ng-hide="isLoggedIn()">
      	<li ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
    </ul>
    <ul class='top-nav pull-right' ng-hide="isLoggedIn()" >
      	<li ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
    </ul>
    <ul class='top-nav pull-right' ng-show="isLoggedIn()">
      	<li ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
    </ul>
    <ul class='top-nav pull-right' ng-show="isLoggedIn()">
      	<li><a href="/settings">Settings</a> </li>
    </ul>
    <ul class='top-nav pull-right'  ng-show="isAdmin()">
		<li ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
	</ul>
</div>