.task {

	line-height: 2em;

	&.editable {
		.edit {
			opacity: 1;
		}

		.color-edit {
			float: right;
			display: inline-block;
			line-height: 2em;
			vertical-align: middle;

			button {
				font-size: 1em;
				margin-right: 5px;
				vertical-align: middle;

				&.set-blue,
				&.set-purple,
				&.set-green,
				&.set-red {
					margin-right: 0px;
				}

				&.set-blue {
					color: blue;
				}

				&.set-purple {
					color: $brand-accent;
				}

				&.set-red {
					color: red;
				}

				&.set-green {
					color: green;
				}

				&.set-white {
					color: white;
					margin-right: 1em;
				}
			}


		}
	}

	&.done {
		background-color: rgba(0,0,0,0.2) !important;
		color: rgba(0,0,0,0.5);

		.check {
			color: rgba(0,0,0,0.5);
		}
	}

	&.blue {
		background-color: rgba(0,0,255,0.3);
	}

	&.red {
		background-color: rgba(255,0,0,0.3);
	}

	&.green {
		background-color: rgba(0,255,0,0.3);
	}

	&.purple {
		background-color: rgba(103,58,183,0.3);
	}

	.glyphicon {
		font-size: 18px;
		vertical-align: middle;
	}

	button {
		outline: none;
		font-size: 21px;
		border: none;
		color: black;
		opacity: 0.4;
		background: none;
		padding: 0px;
		margin: 0px 10px 0px 0px;
		vertical-align: middle;

		&:hover {
			opacity: 0.7;
		}

		span {
			line-height: 2em;
		}

		&.check {
			color: $brand-green;
			opacity: 0.7;
			margin: 0px 0px 0px 10px;

			&:hover {
				opacity: 0.9;
			}
		}

		&.edit,
		&.delete {
			float: right;

		}
	}

	.date-input {
		display: inline-block;
		line-height: 2em;
		max-width: 12em;

		input{
			vertical-align: middle;
			padding: 3px 0px;
			margin: 0px;
			margin-bottom: -1px;
			text-align: center;
			display: inline-block;
			max-width: 6em;
			border-radius: 0px;
			box-shadow: none;
			height: 60%;
			margin-left: 10px;
		}

	}
	
}

.task-name,
.task-date {
	padding-left: 20px;
	vertical-align: middle;
	line-height: 2em;
}

.task-form {
    margin-top: 20px;
    padding-bottom: 30px;
}

.task-list {
	-webkit-padding-start: 15px;
	margin-right: 10px;
}

.task-edit {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 0px;
	padding: 0px;
	margin: 0;
	display: block;
	line-height: 40px;
	padding-right: 18px;
	margin-bottom: 4px;

	button {
		margin-top: 4px;
		margin-right: 20px;

		&.close {
			color: red;
			opacity: 0.6;

			&:hover{
				opacity: 0.9;
			}
		}
	}

	&.show {
		height: 30px;
	}
}

.btn-primary {
	background-color: $brand-accent;
	border-color: $brand-accent-dark;

	:hover {
		background-color: $brand-accent-dark;
	}
}