.task {
	padding-top: 6px;
	padding-bottom: 4px;
}

.task-name {
	padding-left: 10px;
}

.task-form {
    margin-top: 20px;
    padding-bottom: 30px;
}

.task-list {
	-webkit-padding-start: 15px;
	margin-right: 10px;
}

.btn-primary {
	background-color: $brand-accent;
	border-color: $brand-accent-dark;

	:hover {
		background-color: $brand-accent-dark;
	}
}

.check {
	margin-right: 20px;
	color: $brand-green;
	opacity: 0.9;

	:hover {
		color: $brand-green;
		opacity: 0.9;
	}
}

.edit {
	margin-right: 20px;
}

.task.done {
	background-color: gray;
	color: #000;
	text-decoration: line-through;
}