<div class="col-md-6" ng-controller='DailiesCtrl'>
	<h1>Daily Tasks</h1>
	<ul class="nav nav-tabs nav-stacked col-md-6" ng-repeat="daily in dailies">
		<li>
            {{daily.name}} <button type="button" class="close">&times;</button>
        </li>
    </ul>
    <br>
    <form class="thing-form">
      <p class="input-group">
        <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newDaily">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-click="addDaily()">Add New</button>
        </span>
      </p>
    </form>
</div>
