<div class="col-md-6" ng-controller='ToDoCtrl'>
	<h1>To-Dos</h1>
	<div class="row task-list">
		<li class="nav nav-tabs col-md-12 task" ng-repeat="todo in todos">
            <span class="task-name">{{todo.name}}</span> <button type="button" class="close">&times;</button>
        </li>
	</div>
    <form class="task-form">
      <p class="input-group">
        <input type="text" class="form-control" placeholder="Add a new To-Do" ng-model="newTodo">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary" ng-click="addTodo()">Add New</button>
        </span>
      </p>
    </form>
</div>
